<% if @credentials && @credentials.errors.any? %>
  <% @credentials.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger %> text-center">
      <h4><%= msg %></h4>
    </div>
  <% end %>
<% end %>
<section class="fdb-block login-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-left">
        <div class="row">
          <div class="col">
            <h2 class="text-secondary"><%= I18n.t 'step1' %></h2>
            <h1><%= I18n.t 'login.head' %></h1>
            <p class="text-h3"><%= I18n.t 'login.desc' %></p>
          </div>
        </div>
        <%= form_for(@credentials, url: '/', remote: true) do |f| %>
          <div class="row">
            <div class="col mt-4">
              <%= f.text_field :server, class: 'form-control', placeholder: I18n.t('login.placeholder.server'),
                               required: true, pattern: '[^()/><\]\[/\\\\,;|\*%$\s]+', maxlength: 32,
                               title: I18n.t('login.pattern_title') %>
            </div>
          </div>
          <div class="row">
            <div class="col mt-4">
              <%= f.text_field :username, class: 'form-control', placeholder: I18n.t('login.placeholder.username'),
                               required: true, pattern: '[^()/><\]\[/\\\\,;|\*%$\s]+', maxlength: 32,
                               title: I18n.t('login.pattern_title') %>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <%= f.password_field :password, class: 'form-control', placeholder: I18n.t('login.placeholder.password'),
                                   required: true, maxlength: 128 %>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <%= f.submit I18n.t('login.submit'), class: 'btn' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

