<section class="fdb-block login-section">
  <div class="container" data-controller="host">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-left">
        <div class="row">
          <h2 class="text-secondary"><%= I18n.t 'step2' %></h2>
          <h1><%= I18n.t 'generator.head' %></h1>
          <p class="text-h3"><%= I18n.t 'generator.desc' %></p>
          <h3>Host group:</h3>
          <%= form_for(:hostgroup, url: '/generator') do |f| %>
            <%= f.select(:id, options_for_select(
                @hostgroups_array.unshift([I18n.t('generator.please_select'), 0, hidden: '']),
                selected: @hostgroup_id || 0,
                disabled: 0
            ), {}, {:class => 'custom-select',
                    'data-action' => 'host#changeHostgroup',
                    'data-target' => 'host.hostgroup_id'}
                )
            %>
            <%= f.button :submit, class: 'invisible', 'data-target' => 'host.submit' %>
          <% end %>
        </div>
        <% if defined?(@hosts) and @hosts.empty? %>
          <div class="row alert alert-warning" role="alert">
            <%= I18n.t('generator.no_hosts_in_group') %>
          </div>
        <% elsif defined?(@hosts) and !@hosts.empty? %>
          <div class="row"><%= I18n.t 'generator.host_in_group' %></div>
          <div class="row">
            <%= form_for(:screen, url: '/screen') do |f| %>
              <%= f.button I18n.t('generator.submit_hosts'), class: 'btn' %>
              <table class="table table-bordered table-hover mt-3">
                <thead>
                <tr>
                  <th scope="col"><%= I18n.t 'generator.host_name' %></th>
                  <th scope="col"><%= I18n.t 'generator.host_ip' %></th>
                  <th scope="col"><%= I18n.t 'generator.host_check' %>
                    <%= check_box_tag(:check_all, '', false,
                                      {'data-target' => 'host.checkall', 'data-action' => 'host#toggleAll'}
                        )%>
                  </th>
                </tr>
                </thead>
                <tbody>
                <% @hosts.each do |host| %>
                  <tr>
                    <td><%= host[:name] %></td>
                    <td><%= host[:ip] %></td>
                    <td class="text-center">
                      <%= check_box_tag(host[:id], value = host[:id], false, {'data-target' => 'host.check'}) %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
