<div class="container mt-5">
  <div class="row">
    <h2 class="text-secondary"><%= t 'step3' %></h2>
  </div>
  <div class="row">
    <h1><%= t 'screens.result' %></h1>
  </div>
  <% @results.each do |host, result| %>
    <% if result === true %>
      <div class="row alert alert-success" role="alert">
        <%= t 'screens.success' %> <%= host %>
      </div>
    <% else %>
      <div class="row alert alert-danger" role="alert">
        <%= t('screens.fail_part1') + host.to_s + t('screens.fail_part2') %>
      </div>
    <% end %>
  <% end %>
  <div class="row">
    <%= link_to t('screens.select_another_hosts'), generator_path, {class: 'btn', role: 'button'} %>
  </div>
</div>
