<div class="container mt-5">
  <% @results.each do |host, result| %>
    <% if result === true %>
      <div class="alert alert-success" role="alert">
        <%= I18n.t('screens.success') %> <%= host %>
      </div>
    <% else %>
      <div class="alert alert-danger" role="alert">
        <%= I18n.t('screens.fail_part1') %> <%= host %>. <%= I18n.t('screens.fail_part2') %>
      </div>
    <% end %>
  <% end %>
</div>
<%= link_to generator_path %>
