<!DOCTYPE html>
<html lang="<%= @selected_locale %>">
<head>
  <title>ZabbixScreensGenerator</title>
  <meta name="Description" content="ZabbixScreensGenerator - Web application for creating screens per host with all its graphs">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#DC1FB9">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>
  <%= evil_icons_sprite %>
</head>

<body>
<header class="navbar navbar-expand navbar-dark bg-dark d-flex bd-highlight">
  <h1 class="p-2 flex-grow-1 bd-highlight"><%= link_to t('app_name'), root_path, class: 'bg-dark logo-hover' %></h1>
  <div class="p-2 bd-highlight" data-controller="locale">
    <%= form_for(:locale, url: '/change_locale') do |f| %>
      <%= f.select(:locale, options_for_select(@available_locales, selected: @selected_locale, disabled: 0), {},
                   {
                       'data-action' => 'locale#changeLocale',
                       'data-target' => 'locale.choosed_locale',
                       'autocomplete' => 'off' # To prevent Firefox remembers selected item after refresh
                   }
          )
      %>
      <%= f.button :submit, class: 'd-none', 'data-target' => 'locale.submit' %>
    <% end %>
  </div>
  <% if logged_in? %>
    <div class="p-2 bd-highlight">
      <span class="d-inline-block align-middle">
        <%= evil_icon 'ei-user', size: :m %>
      </span>
      <span class="align-middle">
        <%= session[:username] %>
      </span>
    </div>
    <%= link_to t('logout_button'), logout_path, method: :delete, class: 'btn btn-white btn-empty bd-highlight' %>
  <% end %>
</header>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %> text-center">
    <h4><%= message %></h4>
  </div>
<% end %>
<%= yield %>
</body>
</html>