<!DOCTYPE html>
<html>
<head>
  <title>ZabbixScreensGenerator</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>
  <%= evil_icons_sprite %>
</head>

<body>
<header class="bg-dark">
  <div class="container">
    <nav class="navbar">
      <h1><%= link_to I18n.t('app_name'), root_path, class: 'bg-dark logo-hover' %></h1>
      <% if logged_in? %>
        <div class="justify-content-end ml-auto">
          <span class="d-inline-block align-middle">
            <%= evil_icon 'ei-user', size: :m %>
          </span>
          <span class="align-middle">
            <%= session[:username] %>
          </span>
        </div>
        <%= link_to I18n.t('logout_button'), logout_path, method: :delete, class: 'btn btn-white btn-empty ml-md-3' %>
      <% end %>
    </nav>
  </div>
</header>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %> text-center">
    <h4><%= message %></h4>
  </div>
<% end %>
<%= yield %>
</body>
</html>
